<div class="eft-wrapper">
  <div class="header">
    <div class="sub-heading">Paying with Manual EFT</div>
  </div>

  <div class="detail">

    <div>
      <span class="title">How does it work?</span>
      <br>
      1. Pay <span class="highlight">{{ cartSummary?.outstandingAmount | formatCurrency }}</span> into the Port2Port bank account. Details will be provided on the
      order confirmation page and email.
      <br>
      2. Use your order number as your payment reference.
      <br>
      3. Please pay for your order immediately as it can take up to 3 business days for the funds to clear. Once payment has cleared your
      delivery date will be confirmed.
    </div>

    <div>
      <span class="title">Need it now?</span>
      <br>
      Choose any of our other payment options to get your order sooner.
    </div>

    <div>
      <span class="title">Why the fuss about the correct payment reference?</span>
      <br>
      It ensures that your order gets approved. Our system matches
      your payment to your order using the payment reference, which is your order number. If the reference is incorrect
      we can’t match it to your order and your order may be cancelled.
    </div>

  </div>
</div>
