<div
  class="image-descriptor-wrapper"
>
  <app-image-wrapper [desktopImageUrl]="desktopImageUrl"
                     [mobileImageUrl]="mobileImageUrl"
                      bgColor="background-gray-light"
                      heightPercent="h-50p"
  ></app-image-wrapper>
  <meta itemprop="thumbnailUrl" content="{{ desktopImageUrl }}" />

  <!-- <div class="description-area gray-light-color">{{ description }}</div>

  <div class="category-area brown-light1-color">{{ category }}</div> -->
</div>
