@import "variables";

.auth-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #3F3A39;
  height: 100%;
  padding: 0 25px;
  cursor: pointer;
  background: #ffffff;

  span {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
    color: #3F3A39;
    margin-right: 12px;
  }

  .icon-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    i {
      width: 15px;
      height: 15px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }

  }

  .arrow-icon {
    > img {
      width: 9px;
    }
  }

  @media all and (max-width: 768px) {
    // & {
    //   padding: 0 5px;
    // }
  }

  @media all and (max-width: $mobile) {
    text-align: left;
    padding: 21px 30px 20px;
    border-bottom: 0.5px solid #E0E0E0;

    span {
      font-weight: bold;
      color: black;
    }

    &.open {
      padding-bottom: 0;
      border-bottom: none;
    }

    .icon-block {
      margin-left: auto;
    }
  }
}
