@import "variables";


.heading {
  font-size: 14px;
  margin-bottom: 50px;

  @media all and (max-width: $mobile) {
    margin-bottom: 25px;
  }
}

.detail {
  font-size: 14px;
  font-family: $goodRegularFont;

  div {
    padding-bottom: 15px;
    font-family: $goodRegularFont;
  }

  &.pre-scan {
    a {
      text-decoration: none;
      color: $brown;

      &:hover {
        color: $brown;
      }
    }
  }

  &.scan {
    display: flex;

    @media all and (max-width: $mobile) {
      display: none;
    }

    .scan-message {
      display: flex;
      flex: 1;
      font-family: $goodRegularFont;
    }

    .scan-image {
      width: 260px;
      height: 260px;
      font-family: $goodRegularFont;
      border: solid 0.5px $brownLight;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
    }
  }
}
