<div>
  <div class="heading">Paying with SnapScan</div>

  <div class="detail pre-scan">
    <div>
      SnapScan is a convenient cashless and cardless payment option which allows you to pay with your smartphone. The
      app is currently supported on Apple iPhones, smartphones running the Android operating system and most BlackBerry
      phones.
    </div>
    <div>
      If you are new to SnapScan and are paying from a computer or tablet, please make sure you first download the app
      for your phone <a href="javascript:;">here</a>.
    </div>
    <div>
      1. Click the “Pay with SnapScan” button to proceed to payment.
      <br>
      2. Open the SnapScan app and use your phone’s camera to scan the SnapCode displayed on screen.
      <br>
      4. Enter your 4-digit SnapScan PIN.
      <br>
      5. Click the “Pay” button to complete your purchase.
      <br>
      6. Your order will be processed.
    </div>
  </div>

  <div class="detail scan">
    <div class="scan-message">
      Open the SnapScan app and use your phone’s camera to scan the SnapCode below. Once your payment is complete, you
      will be automatically redirected to a page confirming your purchase.
    </div>
    <div>
      <div class="scan-image">
        snap scan image
      </div>
    </div>
  </div>

</div>