.category-header-wrapper {
  .title-area {
    margin-right: 20px;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px;
  }

  .sub-title {
    font-size: 14px;
    font-family: regularGeorgia, sans-serif !important;
  }

  .sort-by-action {
    margin-top: 20px;
  }
}
