@import "variables";

$button-background: #292F33;
$button-text-color: #fff;
$button-font-size: 12px;
$gold-drop-down: '/assets/img/icons/form/goldDownArrow.png';
$wrong: '/assets/img/icons/form/wrong.svg';

@-webkit-keyframes autofill {
  to {
    background-image: url($gold-drop-down);
  }
}

.form {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 51px 65px 40px 65px;
  display: flex;
  flex-direction: column;

  input {
    max-width: 434px;
  }

  span {
    letter-spacing: 0;

    &.title {
      font-size: 22px;
      font-weight: bold;
      color: #292F33;
      margin-bottom: 12px;
    }

    &.description {
      color: #919191;
      font-size: 12px;
      display: flex;
      margin: 6px 0px;

      .network {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.9px;
        border: none;
        cursor: pointer;
        outline: 0;
        color: white;
        padding: 15px 27px;
        margin: 0px !important;
        max-width: 270px;
        width: 100%;
      }

      .network.facebook {
        background: #3b5998 0% 0% no-repeat padding-box;
        margin-right: 15px !important;
      }

      .network.google {
        background: #DB4437 0% 0% no-repeat padding-box;
      }

      .network,
      .docs {
        margin: 0 3px;
      }
    }

  }

  .information {
    color: #919191;
    font-size: 12px;
    text-align: left;
    padding: 0 0 22px 0;
    font-family: goodProLight;

    .docs {
      margin: 0 3px;

      a {
        color: #919191;
      }
    }
  }

  .group-wrapper-name {
    display: flex;
    flex-direction: row;

    .form-group:first-child {
      margin-right: 10px;
    }

    input {
      max-width: 270px;
    }
  }

  .form-group,
  .button-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 13px 0 0;
    position: relative;

    label {
      color: #30363A;
      font-size: 15px;
      margin-bottom: 12px;
    }

    input {
      background-repeat: no-repeat;
      background-position: center right 22px;
      border: 1px solid #30363A;
      padding: 17px 20px;
      font-size: 14px;
      font-family: Arial, sans-serif;
      letter-spacing: 0;
      color: #919191;
      outline: none;

      &.ng-invalid {
        border: 1px solid #753d3c;
        background-image: url($wrong);
      }

      &.ng-valid {
        background-image: url($gold-drop-down);
        border: 1px solid #B98754;
      }

      &.ng-untouched {
        background-image: none;
        border: 1px solid #30363A;
      }

      &:focus {
        border: 1px solid #a3a6a7;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: #919191 !important;
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        background-color: white !important;
        background-image: url($gold-drop-down) !important;
        background-position: center right 22px !important;
        background-repeat: no-repeat !important;
        color: #919191 !important;
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
      }

    }

    &.form-check {
      flex-direction: row;
      align-items: center;
      padding-bottom: 18px;
      padding-top: 20px;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        min-width: 15px;
      }

      .checkmark {
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #919191;
        border-radius: 20px;
        margin: 0 7px 0 0;
        background-color: #eee;

        &:after {
          content: "";
          top: 4px;
          left: 4px;
          width: 5px;
          height: 5px;
          background: #000000 0% 0% no-repeat padding-box;
          border-radius: 20px;
          position: relative;
        }
      }

      input:checked~.checkmark {
        background: #ffffff;
      }

      input:checked~.checkmark:after {
        display: block;
      }

      .form-radio-label {
        font-size: 12px;
        margin: 0;
      }
    }

    label.form-radio-label {
      color: #919191;
      letter-spacing: 0;
      font-size: 12px;
      text-align: left;
    }
  }

  .switcher-type-password,
  .error {
    position: absolute;
    right: 0;
    font-size: 14px;
  }

  .switcher-type-password {
    color: #B98754;
    cursor: pointer;
  }

  .error {
    top: 16px;
    font-size: 12px;
    color: #753d3c;
  }

  .button-group {
    padding-top: 20px;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .bottom-info {
    text-align: center;
    color: #B98754;
    font-size: 12px;
    padding-top: 26px;

    a {
      padding-left: 5px;
      color: #B98754;
      text-decoration: underline;
    }
  }

  .btn {
    background: $button-background 0% 0% no-repeat padding-box;
    padding: 15px 27px;
    border: none;
    cursor: pointer;
    outline: 0;
    width: 100%;
    max-width: 100%;

    &:disabled {
      background-color: #e0e0e0;
      cursor: not-allowed;
    }

    span {
      color: $button-text-color;
      font-size: $button-font-size;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.9px;
    }
  }


  @media all and (max-width: $mobile) {
    padding: 51px 29px 40px;
    display: block;

    span {
      &.title {
        display: block;
      }
    }

    .wrapper-info {
      padding-bottom: 20px;

      div.information {
        font-size: 14px;
        opacity: 0.8;
      }
    }

    .btn {
      padding: 18px 27px;
    }

    .bottom-info {
      display: none;

    }
  }
}
