@import "variables";



.payment-option-selector-row {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media all and (max-width: $mobile) {
    flex-direction: column;
  }

  .payment-option-selector {

    display: flex;
    align-items: center;
    padding: 0;
    border: solid 0.5px $brown;
    width: 100%;
    cursor: pointer;

    /*
    &:not(:last-child) {
      margin-bottom: 13px;
    }
    */

    @media all and (max-width: $mobile) {
      padding: 0;
    }

    input {
      margin-left: 20px;
      height: 54px;
      cursor: pointer;
    }

    label {
      margin-left: 10px;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      width: 100%;
      height: 60px;
      align-items: center;
      cursor: pointer;
    }

    &.active {
      border: solid 0.5px $brown;
      background-color: $brownBackground;
    }

    &:first-child {
      border-right: 0;
    }

    /*
    &:last-child {
      border-left: 0;
    }
    */
  }

}
