<!-- <ul class="links flex-container"> -->
  <!-- <app-link-card class="link" *ngFor="let link of links"   [link]="link"></app-link-card> -->
  <!-- <app-link-card class="link" *ngFor="let link of links" [link]="link"></app-link-card>
</ul> -->

<ul class="links flex-container">
  <app-link-card class="link" *ngFor="let link of links"   [link]="link"></app-link-card>
  <!-- <app-link-card [links]="footerColxxLinksContents$ | async"></app-link-card> -->
</ul>


<!-- <div [hidden]="isHidden">
  <app-link-list [links]="footerColxxLinksContents$ | async"></app-link-list>
</div> -->
<!-- <app-link class="link" *ngFor="let link of linkz" [link]="link"> -->
  <!-- <app-sub-link-list [subLinks]="link.subLinks"></app-sub-link-list> -->
<!-- </app-link> -->
