<div>
  <div class="heading">Use saved cards</div>
  <div class="detail">

    <div class="list">
      <div class="item selected">
        <div class="image">icon</div>
        <div class="info">
          <div class="title">
            Miss A R Pretorius
          </div>
          <div class="card-type-number">
            Mastercard: *** *** *** 5678
          </div>
          <div class="card-exipry">
            Expires: 05/21
          </div>
        </div>
        <div class="selector">
          <input type="radio" name="card-selection" checked>
        </div>
      </div>
      <div class="item">
        <div class="image">icon</div>
        <div class="info">
          <div class="title">
            Mr E Mostert
          </div>
          <div class="card-type-number">
            Visa: *** *** *** 4321
          </div>
          <div class="card-exipry">
            Expires: 06/22
          </div>
        </div>
        <div class="selector">
          <input type="radio" name="card-selection">
        </div>
      </div>
    </div>

    <div class="add-card">

      <button (click)="onNewCardClick()">Pay With New Card</button>

    </div>
  </div>
</div>
