$border-color-desktop: #E5E3DE;
$brown: #3F3A39;
$filterValuesHeight: 260px;

.filter-search-wrapper {
  position: relative;
}

.icon-block {
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon-block img {
  height: 12px;
}

.filter-search-wrapper>input {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: $border-color-desktop;
  width: 100%;
  padding: 10px 24px;
  font-size: 12px;
  color: $brown;
  font-family: goodProLight;

}

.filter-search-wrapper>input::placeholder {
  color: rgba(63, 58, 67, 0.4);
}

ul.wrapper-types {
  margin: 0;
  padding: 20px 25px;
  border: 1px solid $border-color-desktop;
  border-bottom: none;
  max-height: $filterValuesHeight;
  overflow: auto;
  // font-family: goodProLight;

  li.type-value {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
    cursor: pointer;
    width: 100%;

    span,
    .count {
      text-decoration: none;
      outline: 0;
      font-weight: normal;
      font-size: 14px;
      color: $brown;
      vertical-align: top;
      opacity: 0.9;
    }

    .count {
      font-size: 12px;
    }
  }
}

ul.wrapper-types.fixed-height {
  height: $filterValuesHeight;
}
