.user-oder-history {
  padding: 30px 30px 35px;

  .search-container {
    margin-bottom: 25px;

    .title {
      font-size: 12px;
      margin-bottom: 14px;
      font-weight: bold;
    }
  }

  .order-items-container {
    .pagination-container {
      margin-top: 35px;
    }
  }
}